@import "tailwindcss";


:root {
  --color-custom-cyan-light: #DDE8EB;
  --color-custom-cyan: #DDE8EB;
  --color-custom-cyan-dark: #C2D3D9;
}

@layer utilities {
  .bg-custom-cyan {
    background-color: var(--color-custom-cyan);
  }

  .bg-custom-cyan-light {
    background-color: var(--color-custom-cyan-light);
  }

  .bg-custom-cyan-dark {
    background-color: var(--color-custom-cyan-dark);
  }

  .text-custom-cyan {
    color: var(--color-custom-cyan);
  }

  .text-custom-cyan-light {
    color: var(--color-custom-cyan-light);
  }

  .text-custom-cyan-dark {
    color: var(--color-custom-cyan-dark);
  }
}